.active-sidebar-item {
  cursor: pointer;
  position: relative;
}
.active-sidebar-item::before,
.active-sidebar-item::after {
  content: "";
  position: absolute;
}

.active-sidebar-item::before {
  top: -75px;
  right: -16px;
  height: 80px;
  width: 40px;
  border-bottom-right-radius: 20px;
  -moz-border-bottom-right-radius: 20px;
  -webkit-border-bottom-right-radius: 20px;
  -webkit-box-shadow: 0 40px 0 0 #fff;
  -moz-box-shadow: 0 40px 0 0 #fff;
  box-shadow: 0 40px 0 0 #fff;
}
.active-sidebar-item::after {
  top: 49.7px;
  right: -16px;
  height: 80px;
  width: 40px;
  border-top-right-radius: 20px;
  -moz-border-top-right-radius: 20px;
  -webkit-border-top-right-radius: 20px;
  -webkit-box-shadow: 0 -40px 0 0 #fff;
  -moz-box-shadow: 0 -40px 0 0 #fff;
  box-shadow: 0 -40px 0 0 #fff;
}

.tableStyle {
  font-family: "Inter", sans-serif;
  font-size: 0.9rem;
}

.formStyle {
  font-family: "Inter", sans-serif;  
}

.tdThStyle {
  font-size: 0.85rem;
}
